<html>
<head>
    <title> Login Page</title>
</head>
<body>
    
            
            Username: <input type="text" id = "username" name="username" value="" /> <br>
            Password: <input type="password" id = "password" name="password" value="" /> <br>
                    <input type="submit" name="" value="Submit" onclick="loginScript()" />
                   
    
        
        <script>
            
            function loginScript(){
                let username = document.getElementById('username').value;
                let password = document.getElementById('password').value;
                
                if (username === "" || password === "") {
                alert("Please fill in all fields." + username);
                }
            
            
                
                let xhttp = new XMLHttpRequest();
                xhttp.open('POST', '../controller/loginCheck.php', true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send('username=' + username + '&password=' + password);
             
                xhttp.onreadystatechange = function (){
                    if(this.readyState == 4 && this.status == 200){
                        alert(this.responseText);
                      window.location.href = "AdminHome.php";  
                     window.location.href = "home.php";  
            }         
            }
                }
        </script>

</body>
</html>
