<html>

<head>
    <style>
          body{
            background-color: aqua;
        }

        #table {
            position: absolute;
            top: 45%;
            left: 45%;

        }
        body{
            background-color: aqua;
        }
    </style>



</head>

<body>

    <form action="">

        <table id="table" border="2">


            <tr>
                <td>
                    name
                </td>
                <td>
                    contact no
                </td>
                <td>
                    username
                </td>
                <td>
                    password
                </td>
                <td>
                    Update
                </td>

            </tr>

                <tr>
                    <td>
                        <input id="name" type="text" >
                    </td>

                    <td>
                        <input id="contact" type="text">
                    </td>

                    <td>
                        <input id="username" type="text" >
                    </td>

                    <td>

                        <input id="password" type="text">

        
                    </td>
                    <td>

                        <input id="submit" type="button"  value="Submit" onclick="submit()">
                    </td>
                    

                </tr>
            
        </table>
    </form>

</body>




</html>